In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("data/citibike.csv")
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,704,7/1/2016 00:00:02,7/1/2016 00:11:47,459,W 20 St & 11 Ave,40.746745,-74.007756,347,Greenwich St & W Houston St,40.728846,-74.008591,17431,Customer,NaN,0
1,492,7/1/2016 00:00:18,7/1/2016 00:08:31,293,Lafayette St & E 8 St,40.730287,-73.990765,466,W 25 St & 6 Ave,40.743954,-73.991449,24159,Subscriber,1984.0,1
2,191,7/1/2016 00:00:19,7/1/2016 00:03:31,3090,N 8 St & Driggs Ave,40.717746,-73.956001,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,16345,Subscriber,1986.0,2
3,687,7/1/2016 00:00:24,7/1/2016 00:11:52,459,W 20 St & 11 Ave,40.746745,-74.007756,347,Greenwich St & W Houston St,40.728846,-74.008591,25210,Customer,NaN,0
4,609,7/1/2016 00:00:31,7/1/2016 00:10:40,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,212,W 16 St & The High Line,40.743349,-74.006818,15514,Customer,NaN,0

In [5]:
df["usertype"].map({"Customer":1, "Subscriber":2})

0     1
1     2
2     2
3     1
4     1
5     2
6     2
7     2
8     2
9     2
10    2
11    2
12    2
13    2
14    2
15    1
16    2
17    2
18    2
19    2
20    2
21    2
22    1
23    2
24    2
25    2
26    2
27    2
28    2
29    2
Name: usertype, dtype: int64

In [6]:
df.mean()

tripduration                 797.466667
start station id             529.433333
start station latitude        40.731871
start station longitude      -73.992881
end station id               573.700000
end station latitude          40.733723
end station longitude        -73.989227
bikeid                     20263.033333
birth year                  1984.120000
gender                         1.066667
dtype: float64

In [18]:
df.apply(lambda x: x.shape, axis = 1)

0     (15,)
1     (15,)
2     (15,)
3     (15,)
4     (15,)
5     (15,)
6     (15,)
7     (15,)
8     (15,)
9     (15,)
10    (15,)
11    (15,)
12    (15,)
13    (15,)
14    (15,)
15    (15,)
16    (15,)
17    (15,)
18    (15,)
19    (15,)
20    (15,)
21    (15,)
22    (15,)
23    (15,)
24    (15,)
25    (15,)
26    (15,)
27    (15,)
28    (15,)
29    (15,)
dtype: object

In [15]:
df.tripduration.apply(lambda x: x / 60)

0     11.733333
1      8.200000
2      3.183333
3     11.450000
4     10.150000
5     11.200000
6      7.766667
7      9.266667
8     12.783333
9     24.033333
10     7.866667
11    12.950000
12     5.100000
13    22.550000
14    19.083333
15     8.883333
16    26.133333
17    36.650000
18     7.733333
19     6.983333
20     8.516667
21     6.033333
22    37.150000
23     5.850000
24     5.466667
25    10.983333
26    20.433333
27    28.916667
28     3.483333
29     8.200000
Name: tripduration, dtype: float64

In [16]:
df.tripduration / 60

0     11.733333
1      8.200000
2      3.183333
3     11.450000
4     10.150000
5     11.200000
6      7.766667
7      9.266667
8     12.783333
9     24.033333
10     7.866667
11    12.950000
12     5.100000
13    22.550000
14    19.083333
15     8.883333
16    26.133333
17    36.650000
18     7.733333
19     6.983333
20     8.516667
21     6.033333
22    37.150000
23     5.850000
24     5.466667
25    10.983333
26    20.433333
27    28.916667
28     3.483333
29     8.200000
Name: tripduration, dtype: float64

In [19]:
df.shape

(30, 15)