In [21]:
import numpy as np
from numpy import linalg

$1.$

In [3]:
np.flatten()

AttributeError: module 'numpy' has no attribute 'flatten'

$2.$

In [5]:
np.unique(np.array([[3, 3, 3], [1, 3, 4], [7, 1, 3]])).shape[0]

4

$3.$

In [10]:
Z = np.array([92, 13, 44, 555, 1, -3])
np.flipud(Z)[4]

13

$4.$

In [13]:
a = np.ones(5)
b = np.full(5, 2)

In [15]:
np.dot(a, b)

10.0

$5.$

In [19]:
a = np.array([
    [0, 9, 19, 13], 
    [1, 20, 5, 13],
    [12, 11, 3, 4]
])

b = np.array([
    [2, 0, 0, 0], 
    [1, 2, 2, 0],
    [2, 1, 1, 0],
    [0, 0, 1, 1]
])

a.dot(b).diagonal()

array([47, 45, 29])

$6.$

In [20]:
b = np.array([[-1, 33, 4, 1], [0, 1, 1, 0]])
b.mean()

4.875

$7.$

In [25]:
a = np.array([[6, 0, 3], [0, -1, 2], [12, 3, 0]])

linalg.det(a) != 0

False

$8.$

In [26]:
m = np.array([
    [1, -1, -1, 0],
    [-1, 2, -1, -1],
    [-1, -1, 2, -1],
    [0, -1, -1, 1]
             ])
linalg.eigvals(m)

array([-1.,  1.,  3.,  3.])

$9.$

In [30]:
m = np.array([
    [2, 4, 0, 4, 1],
    [2, 4, 1, 1, 0],
    [1, 1, 1, 2, 2],
    [0, 1, 3, 2, 4],
    [2, 2, 2, 0, 2]
])

linalg.inv(m).diagonal().sum()

2.700000000000001