In [3]:
import pandas as pd

In [7]:
s = pd.Series([1, 2, 6, 3])
s

0    1
1    2
2    6
3    3
dtype: int64

In [8]:
s = pd.Series([1, 2, 6, 3], ['a', 'b', 'c', 'd'])
s

a    1
b    2
c    6
d    3
dtype: int64

In [9]:
s[0]

1

In [10]:
s['a']

1

In [11]:
sities = pd.Series({'Moscow':1000, 'London':700, 'Paris':1100, 'Berlin':1051})
sities

Moscow    1000
London     700
Paris     1100
Berlin    1051
dtype: int64

In [12]:
sities > 1000

Moscow    False
London    False
Paris      True
Berlin     True
dtype: bool

In [13]:
sities[sities > 1000]

Paris     1100
Berlin    1051
dtype: int64

In [14]:
sities[['Paris', 'London']]

Paris     1100
London     700
dtype: int64

In [16]:
sities['Moscow'] = 1200
sities

Moscow    1200
London     700
Paris     1100
Berlin    1051
dtype: int64

In [18]:
sities['Minchen'] = None
sities

Moscow     1200
London      700
Paris      1100
Berlin     1051
Minchen    None
dtype: object

In [19]:
sities.isna()

Moscow     False
London     False
Paris      False
Berlin     False
Minchen     True
dtype: bool