In [1]:
import pandas as pd

In [2]:
less = pd.read_csv("data/lessons.csv")
less.head()

                                     id  event_id subject       scheduled_time
0  1e7bb408-cfef-4a9f-8328-351c9483a64c     38114    phys  2020-01-19 12:00:00
1  6d8e59d9-a7c8-4bb3-8ff3-99cd07acdf1a     51568      it  2020-01-19 13:00:00
2  62e1a078-33de-47c1-99d2-845b1daca56f     52790    hist  2020-01-19 13:00:00
3  00fc6685-f53a-49bb-b960-5e0042fd3852     51341    phys  2020-01-17 12:00:00
4  4cadf623-82e6-422f-a342-acf978302fb2     55048    phys  2020-01-19 14:00:00

In [3]:
less.tail()

,id,event_id,subject,scheduled_time
373,f579351b-177c-4c1c-850a-58bbda8b0b22,48887,hist,2020-01-15 13:45:00
374,056c3d91-dce7-4071-91d3-1de816ee63a3,51001,hist,2020-01-17 12:45:00
375,c64a1daf-d7f5-4c8c-ac9f-df634d77327b,50304,bio,2020-01-11 11:00:00
376,aa7702bc-5271-469c-a1c2-b7e814fd7e20,49880,bio,2020-01-16 15:00:00
377,8643fa00-217a-42ae-a27d-e6f47c0501f1,55449,bio,2020-01-19 12:15:00

In [4]:
less.shape

(378, 4)

In [5]:
less.max()

id                ffea312b-e74e-434e-ba37-fd53f5dbb9e3
event_id                                         56271
subject                                           phys
scheduled_time                     2020-01-20 17:00:00
dtype: object

In [8]:
less.dtypes

id                object
event_id           int64
subject           object
scheduled_time    object
dtype: object

In [14]:
less.loc[1:4, 'event_id':'scheduled_time']

   event_id subject       scheduled_time
1     51568      it  2020-01-19 13:00:00
2     52790    hist  2020-01-19 13:00:00
3     51341    phys  2020-01-17 12:00:00
4     55048    phys  2020-01-19 14:00:00

In [16]:
less.iloc[1:4, 1:3]

   event_id subject
1     51568      it
2     52790    hist
3     51341    phys

In [17]:
less[less['event_id'] > 50000]

,id,event_id,subject,scheduled_time
1,6d8e59d9-a7c8-4bb3-8ff3-99cd07acdf1a,51568,it,2020-01-19 13:00:00
2,62e1a078-33de-47c1-99d2-845b1daca56f,52790,hist,2020-01-19 13:00:00
3,00fc6685-f53a-49bb-b960-5e0042fd3852,51341,phys,2020-01-17 12:00:00
4,4cadf623-82e6-422f-a342-acf978302fb2,55048,phys,2020-01-19 14:00:00
5,f3f15fee-ad91-429c-8b1e-faeb42f78f58,50760,it,2020-01-19 15:00:00
...,...,...,...,...
368,8a1bac54-c5c6-47c9-8fdb-36d01384eaae,55881,phys,2020-01-19 15:00:00
372,368373f6-e7ad-4bb5-a5ea-073fda7e890d,54327,hist,2020-01-19 11:00:00
374,056c3d91-dce7-4071-91d3-1de816ee63a3,51001,hist,2020-01-17 12:45:00
375,c64a1daf-d7f5-4c8c-ac9f-df634d77327b,50304,bio,2020-01-11 11:00:00
377,8643fa00-217a-42ae-a27d-e6f47c0501f1,55449,bio,2020-01-19 12:15:00

In [18]:
less.max()

id                ffea312b-e74e-434e-ba37-fd53f5dbb9e3
event_id                                         56271
subject                                           phys
scheduled_time                     2020-01-20 17:00:00
dtype: object

In [20]:
less.describe()

           event_id
count    378.000000
mean   51214.843915
std     4866.126385
min     9170.000000
25%    49973.750000
50%    52433.500000
75%    54057.000000
max    56271.000000

In [22]:
less['subject'].value_counts()

phys    184
bio      78
hist     60
it       56
Name: subject, dtype: int64

In [23]:
less['subject'].unique()

array(['phys', 'it', 'hist', 'bio'], dtype=object)

In [24]:
less.corr()

          event_id
event_id       1.0

In [26]:
less.sample(frac = 0.2)

,id,event_id,subject,scheduled_time
262,11c361e7-4568-4ae2-8c00-5795658d5d9b,49926,bio,2020-01-16 14:00:00
254,8a75c548-d37a-407b-8234-4b25714bc316,54068,phys,2020-01-16 15:00:00
140,deb32d69-cebb-4021-baf4-17607fc2a085,49238,it,2020-01-13 17:00:00
294,fe5e055f-6615-488f-88a7-8bcc1a9cf8aa,48015,phys,2020-01-17 14:00:00
34,cb4da1e0-ba8f-443b-bd57-83f18d9e1e5b,53047,hist,2020-01-12 12:00:00
...,...,...,...,...
357,694bce79-3f66-4d1a-a6c5-e8bdaddc869e,55809,it,2020-01-19 11:00:00
185,ba984b93-8a53-4fae-a23e-87f1d7ebce9d,48934,bio,2020-01-14 12:00:00
356,e0c4c3dd-05c8-480a-afb7-1dcf1109bc71,55001,it,2020-01-19 06:00:00
222,b3c57bb5-af71-4c58-b6fa-2470102131b4,54521,phys,2020-01-16 12:00:00
355,ebdb51c5-3980-4364-8e9f-9a8d4d26f999,54265,phys,2020-01-18 17:00:00

In [27]:
less.to_csv("data/lessons.csv")

In [28]:
less.groupby("subject").mean()

             event_id
subject
bio      51362.641026
hist     53176.350000
it       51596.232143
phys     50396.494565